*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none; color: #222;}
body{font-size: 14px; line-height: 24px; color: #222; font-family: 'GowunDodum-Regular';}

/*고운돋음*/
@font-face {
    font-family: 'GowunDodum-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* header */
#header{width: 100%; height: 130px; background-color: #75877a; font-size: 20px;}
.header_inner{width: 1320px; height: 130px; margin: 0 auto;}
.logo{float: left; margin: 17px 0;}
.nav{float: right;}
.nav li{float: left;}
.nav li a{display: block; margin-top: 66px; padding: 20px 70px; color: #fff;}
.nav li a:hover{background-color: #fff; color: #75877a;}

/* banner */
#banner{width: 100%; height: 750px; background: url(../images/banner.jpg) no-repeat center top;}



/*section*/
#section1{width: 100%; height: 855px; padding-top: 150px; margin: 0 auto; box-sizing: border-box; overflow: hidden;}
#bg1{width: 100%; height: 705px; background: url(../images/bg1.jpg) no-repeat center top;}
#section2{width: 100%; height: 837px; padding-top: 100px; margin: 0 auto; box-sizing: border-box; overflow: hidden;}
#bg2{width: 100%; height: 737px; background: url(../images/bg2.jpg) no-repeat center top;}
#section3{width: 100%; height: 705px; margin: 113px auto 100px; box-sizing: border-box; overflow: hidden;}
#bg3{width: 100%; height: 705px; background: url(../images/bg3.jpg) no-repeat center top;}
#section4{width: 100%; height: 749px; margin: 0 auto 50px; box-sizing: border-box; overflow: hidden;}
#bg4{width: 100%; height: 749px; background: url(../images/bg4.jpg) no-repeat center top;}

/*footer*/
#footer{width: 100%; height: 300px; margin: 100px auto 0; background-color: #75877a; color: #fff; font-family: "noto sans";}
.footer_inner{width: 1320px; margin: 0 auto; height: 300px; position: relative; padding-top: 50px; box-sizing: border-box;}
.footer_logo{position: absolute; right: 0; bottom: 50px;}
.px30{font-size: 30px; font-weight: bold; margin-bottom: 30px;}
.footer_text{float: left;}
.footer_icon{float: right;}
.footer_icon li{float: left;}
.footer_icon li a{display: block; margin-left: 15px; opacity: 0.5;}
.footer_icon li a:hover{opacity: 1;}
table{margin-top: 40px;}
th:nth-child(2n-1){padding-right: 20px;}
th:nth-child(2n){padding-right: 35px;}
th:nth-child(2){font-size: 25px;}
th:nth-child(4){font-weight: normal;}
th:nth-child(6){font-weight: normal;}

.top{position:fixed; bottom:50px; right:50px; display:none;}